services:
  redis:
    image: redis:7-alpine
    restart: always

  web:
    build:
      context: .
      dockerfile: docker/Dockerfile
    environment:
      - AWS_REGION=ap-south-1
      - TZ=Asia/Kolkata
      - FLASK_SECRET=change-this
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/1
    ports:
      - "5000:5000"
    depends_on:
      - redis
    restart: always

  worker:
    build:
      context: .
      dockerfile: docker/Dockerfile
    command: celery -A app.celery_app.celery worker --loglevel=INFO
    environment:
      - AWS_REGION=ap-south-1
      - TZ=Asia/Kolkata
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/1
    depends_on:
      - redis
    restart: always
